@import 'variables';

.test_class {
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
    height: 25px;
    width: 25px;

    &.animation {
        background-color: black;
        transition: all 5s;
    }
}


.input,
.search {
    font-size: 14px;
    width: 100%;

    border-bottom: 1px solid #e5e5e5;
    border-right: none;
    border-left: none;
    border-top: none;

    &:focus {
        border-bottom: 2px solid #495057;
        outline: none;
    }

    &:disabled {
        border: none;
    }
}

.input_row {
    @include row;

    .input {
        width: 40%;
    }
}