@import 'variables';

.list_wrapper {
    max-width: 250px;
    width: 80%;

    div {
        padding: 10px 1rem;
        cursor: pointer;

        &.active {
            background-color: $blue;
            color: $white;
        }
    }
}